* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdc3c7;
}

.hero {
  border: white 2px solid;
  width: 500px;
  height: 300px;
  overflow: hidden;
  background-color: yellowgreen;
  cursor: pointer;
}

.hero img {
  width: 100%;
  height: 100%;
  transition: all 2s;
}

.hero img:hover {
  transform: scale(1.5);
}
