* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  figure {
    width: 400px;
    height: 250px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      transition: all 0.5s linear;
    }

    figcaption {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 0;
      transition: all 0.5s linear;
    }
  }
  figure:hover img {
    transform: scale(1.5);
  }

  figure:hover figcaption {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
  }
}
